body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 360px;
}

.glass-card {
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
}

.upload-box {
  display: block;
  border: 2px dashed rgba(255,255,255,0.4);
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  margin: 15px 0;
}

.upload-box input {
  display: none;
}

.upload-box span {
  font-size: 15px;
}

#preview {
  width: 100%;
  border-radius: 12px;
  margin: 10px 0;
  animation: fadeIn 0.5s;
}

.detect-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg,#00ff99,#00cc88);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.detect-btn:hover {
  transform: scale(1.05);
}

#result {
  margin-top: 12px;
  font-weight: bold;
}

.bar-container {
  width: 100%;
  height: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-top: 8px;
  overflow: hidden;
}

#confBar {
  height: 100%;
  width: 0%;
  background: #00ff99;
  transition: width 0.5s ease;
}

@keyframes fadeIn {
  from {opacity:0; transform: scale(0.9);}
  to {opacity:1; transform: scale(1);}
}
/* RESPONSIVE */

@media (max-width: 768px) {
  .app {
    padding: 15px;
  }

  .glass-card {
    padding: 20px;
    border-radius: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .subtitle {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .app {
    max-width: 95%;
  }

  .glass-card {
    padding: 18px;
  }

  .detect-btn {
    font-size: 14px;
    padding: 10px;
  }

  .upload-box span {
    font-size: 13px;
  }
}
